var formatTime = function (date, format) {
  date = getDate(date);
  console.log(date)
  
  var year = date.getFullYear()
  var month = date.getMonth() + 1
  var day = date.getDate()

  var hour = date.getHours()
  var minute = date.getMinutes()
  var second = date.getSeconds()
  var dateFormat = [year, month, day].map(formatNumber).join('-') + ' ' + [hour, minute, second].map(formatNumber).join(':');
  if (format && format == "YYYY年MM月DD日") {
    dateFormat = year + "年" + month + "月" + day + "日";
  }
  return dateFormat;
}
function formatNumber(n) {
  n = n.toString()
  return n[1] ? n : '0' + n
}
module.exports.formatTime = formatTime;